                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
                        {% if site.twitter %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter-square"></i></a>{% endif %}
                        {% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
                        {% if site.youtube %}<a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i></a>{% endif %}
                        {% if site.youtube-channel %}<a class="social-btn" href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a>{% endif %}
                        {% if site.hackernews %}<a class="social-btn" href="https://news.ycombinator.com/user?id={{ site.hackernews }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-hacker-news"></i></a>{% endif %}
                        {% if site.luna0 %}<a class="social-btn" href="{{ site.url }}/posts/"><i class="fa fa-circle-thin" aria-hidden="true">🌕</i></a>{% endif %}
                        {% if site.luna1 %}<a class="social-btn" href="{{ site.url }}/posts/"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
                        {% if site.luna2 %}<a class="social-btn" href="{{ site.url }}/posts/"><i class="fa fa-star" aria-hidden="true"></i></a>{% endif %}
                        {% if site.luna3 %}<a class="social-btn" href="{{ site.url }}/posts/"><i class="fa fa-circle" aria-hidden="true"></i></a>{% endif %}
                     </h3>

